/node_modules
yarn.lock
/gutenberg-js/node_modules
/assets/js/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
# testing
/gutenberg-js/coverage

/gutenberg-js/npm-debug.log*
/gutenberg-js/yarn-debug.log*
/gutenberg-js/yarn-error.log*
/gutenberg-js/package-lock.json
/gutenberg-js/yarn.lock
